<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-5.2.3.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-5.2.3.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 扫描@Controller注解的类，完成bean创建和依赖注入 （spring Mvc层） -->
    <context:component-scan base-package="com.sloera"
                            use-default-filters="false">
        <context:include-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 扫描除controller注解，service和dao等包下所有使用注解的类型 -->
    <context:component-scan base-package="com.sloera">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--开启注解配置-->
    <mvc:annotation-driven/>
    <!--静态资源解析-->
    <mvc:resources mapping="/data/**" location="/data/"/>
    <mvc:resources mapping="/static/**" location="/assets/"/>


    <!--进入登录-->
    <mvc:view-controller path="/" view-name="redirect:/login"/>
    <!-- 引入数mybatis配置文件 -->
    <import resource="./spring-jdbc.xml" />
    <bean id="masterSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="masterDataSource"/>
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath*:mybatis/mappers/**/*.xml"/>
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource">
            <ref bean="jdbc_dataSourceOracle" />
        </property>
    </bean>
</beans>